*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: Oswald;
}

.footer{
	display: flex;
	justify-content: center;
	align-items: center;
	justify-content: space-between;
	width: 900px;
	margin: 0 auto;
	margin-top: 20px;
	margin-left: 600px;
	&__logo{
		width: 100px;
		img{
			width: 100%;
		}
	}
	// &__menu:after{
	// 	content: '';
	// 	height: 2px;
	// 	width: 100%;
	// 	background: linear-gradient(to right, #fe0082 40%, transparent);
	// 	position: absolute;
	// 	bottom: 0;
	// 	left: 0;
	// 	right: 0;
	// }
	&__menu{
		// padding-left: 100px;
		// margin-top: 150px;
		// margin-left: calc(61vh - 2px);
		// padding-right: 200px;
		display: flex;
		position: relative;
		ul{
			display: flex;
			margin-bottom: 4px;
		}
		li:hover{
			a{
				border-bottom: 2px solid #ff0082;
			}
		}
		li{
			list-style-type: none;
			margin-top: 2px;
			margin: 0 5px;
			a{
				border-bottom: 2px solid transparent;
				padding-bottom: 6px;
				display: block;
				padding-left: 3px;
				padding-right: 3px;
				color: #fff;
				font-size: 16px;
				text-transform: uppercase;
				font-weight: 200;
				text-decoration: none;
				border-bottom: 2px solid #ff0082;
			}
		}
	}
}
.social-networks_mob{
	display: none;
}
.h2_mob{
	display: none;
}
.social-networks{
	ul{
		display: flex;
		align-items: center;
		justify-content: center;
		list-style-type: none;
		li{
			margin: 0 6px;
		}
	}
}
.screen_three{
	background: url('../image/PAGE3.jpg');
	background-size: auto 100vh;
	h2{
		font-size: 72px;
		color: #fff;
		text-transform: uppercase;
		margin: 0 auto;
		margin-top: 30px;
	}
	form{
		margin-left: -300px;
		text-align: center;
		margin-top: 80px;
		.infom-block{
			margin-top: -100px;
			color: #fff;
			text-align: left;
			margin-left: 750px;
			h4{
				font-size: 18px;
				color: #fff;
				margin-bottom: 6px;
			}
			p{
				color: #868686;
				font-size: 14px;
				border-left: 3px solid #ff0082;
				max-width: 460px;
				padding-left: 8px;
			}
		}
		h6{
			color: #fff;
			font-size: 14px;
			font-weight: 200;
			margin-bottom: 17px;
		}
		input{
			max-width: 480px;
			display: block;
			width: 100%;
			margin: 6px auto;
			transform: skew(3deg);
			color: #fff;
			font-size: 30px;
			padding-left: 30px;
			background: #111111;
			font-weight: 200;
			padding-right: 15px;
			outline: none;
		}
		.result{
			display: flex;
			align-items: center;
			justify-content: space-between;
			max-width: 450px;
			margin: 0 auto;
			margin-top: 40px;
			margin-bottom: 40px;
			color: #fff;
			span{
				display: flex;
				font-size: 30px;
				font-weight: 200;
				align-items: center;
				img{
					width: 30px;
					margin-left: 10px;
					object-fit: contain;
				}
			}
		}
		button{
			background: transparent;
			border: none;
			cursor: pointer;
			position: relative;
			span{
				position: absolute;
				top: 26%;
				left: 50%;
				transform: translate(-50%, -50%);
				color: #fff;
				text-transform: uppercase;
				font-size: 60px;
				width: 100%;
			}
		}
		input::-webkit-outer-spin-button,
		input::-webkit-inner-spin-button {
			-webkit-appearance: none
		}
		input::placeholder{
			color: #fff;
			font-weight: 200;
		}
		.buttons{
			display: flex;
			align-items: center;
			max-width: 450px;
			margin: 0 auto;	
			margin-bottom: 50px;
			text-align: center;
			a{
				display: flex;
				align-items: center;
				transform: skew(3deg);
				text-decoration: none;
				justify-content: center;
				margin: 0 10px;
				height: 66px;
				*{
					transform: skew(-3deg);
				}
				img{
					margin-right: 15px;
				}
			}
			.valuta{
				font-size: 33px;
				color: #fff;
				font-weight: 200;
				padding: 10px 30px 10px 14px;
				border: 1px solid #fff;
				img{
					margin-right: 15px;
				}
			}
			.street-point{
				border: 1px solid #fff;
				width: 230px;
				span{
					font-size: 14px;
					color: #fff;
					font-weight: 200;
				}

			}
			.a__active{
				background: #ff0082;
				border: none;
				border: 1px solid #ff0082;
			}
		}
	}
}
.screen_two{
	background: url('../image/PAGE2.jpg');
	background-size: auto 100vh;
	// position: relative;
	// height: 100vh;
	h2{
		font-size: 72px;
		color: #fff;
		text-transform: uppercase;
		margin: 0 auto;
		margin-top: 30px;
	}
	.block{
		margin-top: 60px;
		margin-right: 100px;
		.block__in{
			justify-content: flex-end;
			display: flex;
			align-items: center;
			.bl-r{
				display: flex;
				align-items: center;
			}
			h4{
				font-size: 18px;
				color: #fff;
				margin-bottom: 8px;
				max-width: 210px;
			}
			p{
				max-width: 210px;
				margin-left: 20px;
				padding-left: 8px;
				border-left: 3px solid #ff0082;
				font-size: 14px;
				color: #868686;
			}
			.block__button{
				position: relative;
				span{
					position: absolute;
					top: 52%;
					left: 50%;
					text-align: center;
					transform: translate(-50%, -50%);
					font-size: 24px;
					color: #fff;
					width: 100%;
					display: block;
					text-transform: uppercase;
				}
			}
		}
	}
}
.screen_one{
	background: url('../image/PAGE1.jpg');
	background-size: auto 100vh;
	// position: relative;
	// height: 100vh;
	.main-logo{
		// position: absolute;
		margin-left: 71vh;
		margin-top: 100px;
	}
	.main-car{
		// position: absolute;
		margin-left: 0vh;
		margin-top: -100px;
		z-index: 99 !important;
	}
	.social-networks{
		ul{
			display: flex;
			// align-items: center;
			justify-content: center;
			list-style-type: none;
			margin-top: 40px;
			li{
				margin: 0 6px;
			}
		}
	}
	.btn-go{
		text-align: center;
		margin: 0 auto;
		display: block;
		margin-top: -120px;
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		p{
			position: absolute;
			top: 37%;
			color: #fff;
			font-size: 48px;
			font-weight: normal;
			text-transform: uppercase;
			width: 100%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
	}
}
.header{
	display: flex;
	position: relative;
	&__menu:after{
		content: '';
		height: 2px;
		width: 100%;
		background: linear-gradient(to right, #fe0082 40%, transparent);
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
	}
	&__menu{
		padding-left: 100px;
		margin-top: 150px;
		margin-left: calc(61vh - 2px);
		padding-right: 200px;
		display: flex;
		position: relative;
		.online{
			padding-left: 100px;
			&__text{
				text-transform: uppercase;
				font-size: 24px;
				font-weight: 200;
				color: #fff;
			}
			&__num{
				position: absolute;
				font-size: 50px;
				color: #fff;
				line-height: 1;
			}
		}
		.menu{
			&__ul{
				padding-left: 170px;
				display: flex;
				margin-bottom: 4px;
			}
			&__li:hover{
				a{
					border-bottom: 2px solid #ff0082;
				}
			}
			&__li{
				list-style-type: none;
				margin-top: 2px;
				margin: 0 5px;
				a{
					border-bottom: 2px solid transparent;
					padding-bottom: 6px;
					display: block;
					padding-left: 3px;
					padding-right: 3px;
					color: #fff;
					font-size: 16px;
					text-transform: uppercase;
					font-weight: 200;
					text-decoration: none;
				}
			}
		}
	}
	&__logo{
		padding-top: 50px;
		padding-left: 50px;
		// display: block;
		// position: fixed;
		// z-index: 99;
		// top: 50px;
	}
}
.fp-tableCell{
	vertical-align: inherit;
}
#fp-nav ul li a span, .fp-slidesNav ul li a span{
	background: #fff;
	width: 30px;
	height: 20px;
	border-radius: 0;
	margin: 0;
	transform: skewY(35deg);
}
#fp-nav.fp-right{
	right: 37px;
}
.online_mob{
	display: none;
}
#fp-nav ul li a.active span, .fp-slidesNav ul li a.active span, #fp-nav ul li:hover a.active span, .fp-slidesNav ul li:hover a.active span{
	width: 30px;
	margin: 0;
	height: 20px;
	background: #fce638;
	border-radius: 0;
}
#fp-nav ul li{
	margin: 20px 0;
}
#fp-nav ul li:hover a span, .fp-slidesNav ul li:hover a span{
	width: 30px;
	height: 20px;
}

.menu__dropdown{
	position: fixed;
	z-index: 999;
	width: 100%;
	display: none;
	top: 74px;
	height: calc(100vh - 74px);
	background: linear-gradient(to top, #250322, #111111);
	.df-mn{
		text-align: center;
		flex-direction: column;
		display: flex;
		height: 100%;
	}
	.menu__bottom{
		margin-top: auto;
		a{
			font-size: 20px;
			margin: 30px 0;
			display: block;
		}
	}
	img{
		width: 60px;
	}
	.social-networks_mob{
		margin-top: 50px;
	}
	a{
		color: #fff;
		text-transform: uppercase;
		text-decoration: none;
	}
	.menu__ul{
		a{
			font-size: 40px;
			font-weight: 200;
			margin: 20px 0;
			display: block;
		}
	}
}









@media screen and (max-width: 1500px){
	.footer{
		margin-left: 400px;
	}
}
@media screen and (max-width: 1440px){
	.screen_one .main-logo{
		margin-left: 31vh;
	}
	.header__menu{
		margin-left: calc(26vh - 2px);
	}
	.screen_one .main-car{
		margin-right: 100px;
		img{
			width: 100%;
		}
	}
	.screen_three,
	.screen_two{
		background-position-x: -300px 
	}
}
@media screen and (max-width: 1310px){
	.footer{
		margin-left: auto;
		margin-right: auto;
	}
	.screen_three form .block__text {
		margin: 0 auto;
	}
	.screen_one .social-networks{
		margin-top: 120px;
	}
	.screen_one .btn-go{
		margin-top: -30px;
	}
}
@media screen and (max-width: 992px){
	#fp-nav{
		display: none;
	}
	.screen_one .social-networks{
		margin-top: 70px;
	}
	.section{
		overflow: auto;
		height: 100vh;
	}
	.screen_two .block{
		margin-right: 0;
	}
	.screen_two .block .block__in .bl-r{
		flex-direction: column;
	}
	.screen_one{
		background: url('../image/PAGE1-1.png');
		background-size: cover;
	}
	.screen_one .main-car{
		margin-left: -250px;
		img{
			width: 700px;
		}
	}
	.header__menu .menu__ul{
		display: none;
	}
	.header__menu:after{
		display: none;
	}
	.online{
		display: none;
	}
	.online_mob{
		display: block;
	}
	.screen_one .btn-go{
		margin-top: 150px;
	}
	.screen_one .social-networks ul{
		margin-top: 0;
	}
	.screen_one .social-networks ul li img{
		// width: 70px;
		height: 60px;
		object-fit: contain
	}
	.social-networks{
		display: none;
	}
	.social-networks_mob{ 
		display: block !important;
		margin-top: 70px;
		ul{
			li{
				margin: 0 20px;
			}
		}
	}
	.online_mob{
		margin: 0 auto;
		width: 200px;
		padding-left: 50px;
		.online__text{
			text-transform: uppercase;
			font-size: 24px;
			font-weight: 200;
			color: #fff;
		}
		.online__num{
			position: absolute;
			font-size: 50px;
			color: #fff;
			line-height: 1;
		}
	}
	.header__menu{
		margin: 0;
	}
	.screen_one .main-logo{
		margin-left: 100px;
		margin-top: 70px;
		img{
			width: 100%;

		}
	}
	.burger_mob{
		display: flex;
		margin-right: 25px;
		flex-direction: column;
		cursor: pointer;
		.line{
			height: 9px;
			margin: 2px 0;
			width: 40px;
			background: #ff0082;
		}
	}
	.header{
		background: #000;
		display: flex;
		align-items: center;
		justify-content: space-between;
		border-bottom: 1px solid #ff0082;
		h2{
			display: none;
		}
		&__logo{
			padding: 20px;
			img{
				width: 100px;
				object-fit: contain
			}
		}
	}
	.screen_two .h2_mob{
		display: block;
		font-size: 40px;
		text-align: center;
		margin-top: 5px;
	}
	.screen_two .block .block__in .bl-r{
		align-items: start;
	}
	.screen_two {
		background: url('../image/PAGE-2.png');
		// background-position-y: -200px;
		background-size: cover;
	}
	.screen_two .block{
		margin-top: 0;
	}
	.screen_two .block .block__in{
		justify-content: flex-start;
	}
	.screen_two .block .block__in .block__button{
		margin-top: -50px;
		margin-bottom: -50px;
	}
	.screen_two .block .block__in p{
		max-width: 100%;
		margin-right: 50px;
	}
	.footer{
		display: none;
	}
	.screen_three form .block__text{
		margin-left: 0;
	}
	.screen_three form .infom-block{
		margin-left: 20px;
	}
	.screen_three form{
		margin-left: 0;
	}
}

@media screen and (max-width: 576px){
	.screen_three form button{
		width: 100%;
		img{
			width: 100%;
		}
	}
	.screen_three{
		background-position: -400px 0
	}
	.screen_three form button span{
		font-size: 40px;
	}
	.screen_two .block .block__in{
		align-items: start;
		img{
			width: 150px;
			object-fit: contain;
		}
		.block__button{
			img{
				width: auto;
			}
		}
	}
	.header__menu{
		display: none;
	}
}
@media screen and (max-width: 480px){
	.screen_two .block .block__in{
		flex-direction: column;
	}
	.screen_two .block .block__in h4{
		margin-left: 15px;
		margin-right: 15px;
	}
	.screen_two .h2_mob{
		font-size: 20px;
	}
	.screen_three form button span{
		font-size: 30px;
	}
	.screen_three form input{
		font-size: 20px;
	}
	.screen_three form{
		margin: 0 15px;
	}
	.screen_three form .infom-block{
		margin-top: -40px;
	}
	.screen_three form .buttons{
		flex-direction: column;
		margin-bottom: 20px;
		a{
			margin: 10px 0;
		}
	}
	.screen_three form .result span{
		font-size: 20px;
	}
}



